/*
 * @file
 * Provides the layout styles for layout_threecol_25_50_25.
 */


.layout--threecol-25-50-25-custom  {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 550px) {
  .layout--threecol-25-50-25-custom  {
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
    grid-template-areas: "a b" "c c";
  }
  .layout--threecol-25-50-25-custom .layout__region--first {
    grid-area: a;
  }
  .layout--threecol-25-50-25-custom .layout__region--third {
    grid-area: b;
  }
  .layout--threecol-25-50-25-custom .layout__region--second {
    grid-area: c;
  }
}
@media screen and (min-width: 1000px) {
  .layout--threecol-25-50-25-custom {
    grid-template-columns: calc(25% - 1.5rem) 50% calc(25% - 1.5rem);
    grid-template-areas: "a b c";
  }
  .layout--threecol-25-50-25-custom .layout__region--third {
    grid-area: c;
  }
  .layout--threecol-25-50-25-custom .layout__region--second {
    grid-area: b;
  }
}
@media screen and (min-width: 1300px) {
  .layout--threecol-25-50-25-custom {
    gap: 2rem;
    grid-template-columns: calc(25% - 2rem) 50% calc(25% - 2rem);
  }
}


