/*
 * @file
 * Provides the layout styles for layout_threecol_25_50_25.
 */
 .layout--twocol-33-66 {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-33-66 > .layout__region,
.layout--twocol-33-66 > .layout__region--second {
  flex: 0 1 100%;
}

.layout--twocol-33-66 > .layout__region--second {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .layout--twocol-33-66 > .layout__region--first {
    flex: 0 1 33.333%;
  }
  .layout--twocol-33-66 > .layout__region--second {
    flex: 0 1 66.666%;
  }
}
