/*
 * @file
 * Provides the layout styles for layout_threecol_33_66.
 */

.layout--twocol-33-66  {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 850px) {
  .layout--twocol-33-66 {
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
  }
}
@media screen and (min-width: 1000px) {
  .layout--twocol-33-66 {
    grid-template-columns: 33.333% calc(66.666% - 1.5rem);
  }
}
@media screen and (min-width: 1300px) {
  .layout--twocol-33-66 {
    gap: 2rem;
    grid-template-columns: 33.333% calc(66.666% - 2rem);
  }
}