/*
 * @file
 * Provides the layout styles for layout_fourcol.
 */

.layout--fourcol {
  padding: 0 1.5rem;
}
.grid-row .layout--fourcol {
  padding: 0;
}
@media screen and (min-width: 500px) {
  .layout--fourcol {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.9125rem));
    gap: 1.875rem;
  }
}
@media screen and (min-width: 1000px) {
  .layout--fourcol {
    grid-template-columns: repeat(4, calc(25% - 0.9125rem));
  }
}

