/*
 * @file
 * Provides the layout styles for layout_threecol_50_25_25.
 */

.layout--threecol_50_25_25 {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 550px) {
  .layout--threecol_50_25_25 {
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
    grid-template-areas: "a a" "b c";
  }
  .layout--threecol_50_25_25 .layout__region--first {
    grid-area: a;
  }
  .layout--threecol_50_25_25 .layout__region--second {
    grid-area: b;
  }
  .layout--threecol_50_25_25 .layout__region--third {
    grid-area: c;
  }
}
@media screen and (min-width: 1000px) {
  .layout--threecol_50_25_25 {
    grid-template-columns: 50% calc(25% - 1.5rem) calc(25% - 1.5rem);
    grid-template-areas: "a b c";
  }
}
@media screen and (min-width: 1300px) {
  .layout--threecol_50_25_25 {
    gap: 2rem;
    grid-template-columns: 50% calc(25% - 2rem) calc(25% - 2rem);
  }
}