/**
 * Layout ThreeCol
 */

.layout--threecol{
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 640px) {
  .layout--threecol{
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
    grid-column: span 2;
  }
  .layout--threecol .layout__region--third{
    grid-column: 1 / span 2;
    width: calc(50% - 0.75rem);
    justify-self: center;
  }
}
@media screen and (min-width: 900px) {
  .layout--threecol{
    grid-template-columns: calc(33.333% - 1rem) calc(33.333% - 1rem) calc(33.333% - 1rem);
  }
  .layout--threecol .layout__region--third{
    grid-column: initial;
    width: initial;
    justify-self: initial;
  }
}
@media screen and (min-width: 1300px) {
  .layout--threecol{
    grid-template-columns: calc(33.333% - 1.3333rem) calc(33.333% - 1.3333rem) calc(33.333% - 1.3333rem);
    gap: 2rem;
  }
}