/*
 * @file
 * Provides the layout styles for layout_threecol_75_25.
 */


.layout--twocol-75-25 {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 750px) {
  .layout--twocol-75-25 {
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
  }
}
@media screen and (min-width: 1000px) {
  .layout--twocol-75-25 {
    grid-template-columns: calc(75% - 0.75rem) calc(25% - 0.75rem);
  }
}
@media screen and (min-width: 1300px) {
  .layout--twocol-75-25 {
    grid-template-columns: calc(75% - 1rem) calc(25% - 1rem);
    gap: 2rem;
  }
}
