/*
 * @file
 * Provides the layout styles for layout_threecol_66_33.
 */

/**
 * Layout TwoCol
 */


.layout--twocol-66-33 {
  display: grid;
  gap: 1.5rem;
}
@media screen and (min-width: 850px) {
  .layout--twocol-66-33 {
    grid-template-columns: repeat(2, calc(50% - 0.75rem));
  }
}
@media screen and (min-width: 1000px) {
  .layout--twocol-66-33 {
    grid-template-columns: calc(66.666% - 1.5rem) 33.333%;
  }
}
@media screen and (min-width: 1300px) {
  .layout--twocol-66-33 {
    gap: 2rem;
    grid-template-columns: calc(66.666% - 2rem) 33.333%;
  }
}